.unity-multi-column-view__row-container.Category{
    background-color: #B35900;
}

.unity-multi-column-view__row-container.Category Label{
    color: white;
}

.unity-multi-column-view__row-container.Category .hierarchy-item__icon{
    display: none;
}

.unity-multi-column-view__row-container.Category:hover{
    background-color: #B35900;
}
.unity-multi-column-view__row-container.Category:active{
    background-color: #B35900;
}